{% extends 'base.html' %}
{% block navbar_Content %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'em_home' %}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'em_search' %}">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Calendar</a>
    </li>
{% endblock %}

{% block Hamburger_Menu_Content %}
    {% if user.is_authenticated %}
        <a class="dropdown-item" href="#">My Account</a>
        <a class="dropdown-item" href="{% url 'em_profile' %}">Edit Account</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="dropdown-item" href="{% url 'signup' %}">Sign up</a>
        <a class="dropdown-item" href="{% url 'password_reset' %}">Forgot Password</a>
    {% endif %}
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html>

<head>
	<style>
		input[type=text] {
            width: 50%;
            padding: 8px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        .search_Btn {
        	background-color: #4CAF50;
			width: auto;
			opacity: 0.8;
        	border: none;
			cursor: pointer;
			padding: 14px 20px;
			margin: 8px 0;
			color: white;
        }
        button:hover {

        }

	</style>
</head>

<body>
	{% if user.is_authenticated %}
	    <h3>{{ recipe.title }}</h3>
	    <h4>Servings</h4>
	    <p>{{ recipe.number_of_servings }}</p>
	    <h4>Difficulty </h4>
	    <p>{{ recipe.difficulty }}</p>
	    <h4>Ingredients</h4>
	    <!-- <ul>
	    {% for ing in recipe.ingredients %}
	    	<li> {{ ing }} </li>
	    {% endfor %}
	    </ul> -->
	    <p>{{ recipe.ingredients }}</p>
	    <h4>Directions</h4>
	    <p>{{ recipe.preparation }}</p><p></p>
	    <p>Created By {{ recipe.author }} </p>
	{% else %}
	    <h3>You are not logged in</h3>
	    <p>Click <a href="{% url 'login' %}">here</a> to login.</p>
	{% endif %}
</body>

</html>

{% endblock %}