{% extends 'base.html' %}

{% if user.is_authenticated %}
  {% block navbar_Content %}
    <a class="navbar-brand"  href="http://localhost:8000/em_website/search/">Search</a>
    <a class="navbar-brand"  href="#">Calendar</a>
  {% endblock %}
  {% block Hamburger_Menu_Content %}
    <a class="dropdown-item" href="#">My Account</a>
    <a class="dropdown-item" href="http://localhost:8000/em_website/profile/">Edit Account</a>
    <a class="dropdown-item" href="#">Logout</a>
  {% endblock %}
{% endif %}

{% block content %}
{% if user.is_authenticated %}

<p></p>
  <h3>Welcome, {{ user.username }}!</h3>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{% url 'logout' %}">
         <button type="submit">Logout</button>
  </form>
{% else %}
  <h3>You are not logged in</h3>
  <p>Click <a href="{% url 'login' %}">here</a> to login.</p>
{% endif %}
{% endblock %}